{% extends "base.html" %}

{% block content %}
<div class="widget stacked">
	<div class="widget-header">
		<i class="icon-signal"></i>
		<h3>{{ title }}</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<legend>
			{{ operation }}
		</legend>

		<form action="#" method="POST">
		{{ inline.management_form }}
		{% csrf_token %}
			
		{{ form }}
	</div>
	<div class="widget-header">
		<h3>Membros</h3>
	</div>
	<div class="widget-content form-inline">
		<table id="inline" class="table">
			{% for form in inline.forms %}
			{% if forloop.first %}
			<thead>
				<tr>
					<th>Ordem</th>
					<th>Provedor</th>
					<th>Ativo?</th>
					<th>Excluir?</th>
				</tr>
			</thead>
			<tbody>
				{% endif %}
				{% endfor %}
				</div>
				{% for form in inline %}
				<tr>
					<td class="prioridade"><i class="icon-move0"></i>{{ form.priority.errors }}{{ form.priority }}</td>
					<td>{{ form.provider.errors }}{{ form.provider }}{{ form.id }}</td>
					<td>{{ form.active }}</td>
					<td>{{ form.DELETE }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ inline.management_form }}
		<div class="form-actions">
			<input type="submit" value="Salvar" class="btn">
		</div>
		</form>
	</div>
	<!-- /widget-content -->
</div>
<!-- /widget -->
<script>
	/*$(function() {
		$('table.form tr').formset({
			prefix : '{{ formset.prefix }}'
		});
	})*/

	$("#inline tbody").sortable({
		stop : function(event, ui) {
			x = 0;
			$('.prioridade').each(function() {
				$(this).find('input').val(x + 1);
				x++;

				//alert("New position: " + ui.item.index());
			});
		}
	});

</script>
{% endblock %} 